/*th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  }*/
  table {
  border-collapse: collapse;
  width: 25%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}

.form_field[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}